:root{
    --blue:#61dfff;
    --darkGray:#121212;
    --red:#fd5555;
    --darkred:rgba(255, 86, 86, 0.18);
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
.hidden {
    display: none !important;
}
.main {
    overflow: hidden;
    height: 100%;
    width:100%;
    background-color: var(--darkGray);
    color: white;
    display: grid; 
    grid-auto-flow: row dense; 
    grid-auto-rows: 1fr; 
    grid-template-columns: 2fr; 
    grid-template-rows: 0.5fr 3fr 0.3fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "header"
      "resultDiv"
      "footer"; 
}
.header {
    display: grid; 
    grid-template-columns: 0.5fr 2fr 0.5fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "logo addressContainer nav"; 
    grid-area: header; 
    justify-items: center; 
    align-items: center; 
    grid-area: header; 
}
.logo {
    width: 100%;
    padding-left: 10px;
    grid-area:logo;
    justify-items:start;
    align-items: start;}
.logo img {
    width: 64px;
    height: 64px;
}
.addressContainer {
    grid-area: addressContainer;
    height: 2em;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 50px;
    padding: 6px;
    margin-block: 20px;
    background-color: #161616;
    border: 2px solid var(--darkGray);
    transition: 0.15s all ease-in-out;
}
.addressContainer:focus-within{
    border: 2px solid white;
}
.address {
    grid-area: "header";
    border: none;
    outline:none;
    height: 100%;
    width: 80%;
    background-color: transparent;
    color: white;
    font-size: 24px;
    border-radius: 50px 0px 0px 50px;
    padding-left: 10px;
    font-family: 'Courier New', Courier, monospace;
    justify-self: center; 
}
.address::placeholder{
    font-size: 0.75em;
    color: #ffffff9b;
}
.searchBtn {
    height: 100%;
    width: 20%;
    border: none;
    outline:none;
    border-radius: 50px;
    background-color: var(--blue);
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    color: var(--darkGray);
    font-size: 18px;
    transition: 0.2s ease-in-out all;
}
.searchBtn:hover{
    background-color: white;
    color: var(--darkGray);
    transform: scale(1.02);
}
.nav { 
    display: flex;
    grid-area: nav;
    width: 80%;
    justify-content: end;
    padding-right: 10px;
}
.nav button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}
.nav i {
    font-size: 26px;
    color: white;
}
.navDiv{
    position: absolute;
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
    grid-template-areas: 
    "other other other"
    "other other other"
    "socials socials socials"; 
    top: 8%;
    height: 32%;
    width: 20%;
    border: 1px solid white;
    border-radius: 10px;
    transition: 1s ease-in-out all;
    background-color: var(--darkGray);
    overflow: hidden;
}
.socials {
    display: flex;
    justify-self: center; 
    align-self: end; 
    width: 100%;
    grid-area: socials; 
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 5px;
    /* border: 1px solid white; */
}
.socials i, img {
    cursor: pointer;
}
.resultDiv {
    box-sizing: border-box;
    /* border: 1px solid white; */
    height: 80dvh;
    width: 100dvw;
    /* background-image: url('./src/LMK/16x9/Visual\ 4.png'); */
    background-position:center;
    background-size: 90%;
    background-repeat: no-repeat;
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: 0.6fr 1.4fr; 
    gap: 10px 0px; 
    grid-template-areas: 
      "balance balance balance"
      "history history history"; 
    grid-area: resultDiv;
}
.balance { 
    box-sizing: border-box;
    display: flex;
    /* border: 1px solid white; */
    height: 80%;
    width: 80%;
    justify-self: center; 
    align-self: center;
    justify-content: center; 
    align-items: end;
    grid-area: balance;
    border-radius: 10px;
    background-color: #161616;
    transition: 0.2s ease-in-out all;
    padding-block: 15px;
}

.balance span, .history span {
    font-size: 32px;
    font-weight: 800;
    line-height: 0;
    text-align: center;
}
.lxpBalance {
    font-size: 64px;
    text-align: center;
    line-height: 0;
}
.history { 
    box-sizing: border-box;
    /* border: 1px solid white; */
    display: grid; 
    height: 100%;
    width: 80%;
    padding-top: 20px;
    justify-content: center;
    align-items: start;
    justify-self: center; 
    align-self: start; 
    grid-area: history;
    border-radius: 10px;
    background-color: #161616;
    transition: 0.2s ease-in-out all;
    padding-block: 25px;
}
.history:hover{
    /* background-color: #161616; */
}
.lxpHistory {
    display: grid;
    gap: 10px 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 20px;
}
.lxpHistory a {
    text-decoration: none;
}
.lxpCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #202020;
    border-radius: 8px;
    margin-block: 10px;
    color: var(--blue);
    padding: 5px 10px;
    border-right: 5px solid var(--blue);
    border-bottom: 5px solid #32a2be;
    transition: 0.2s ease-in-out all;
    background-color: #202020;
}
.lxpCard:hover {
    background-color: var(--blue);
    color: var(--darkGray);
    border: 1px solid var(--blue);
}
p.lxpCardDate {
    font-size: 12px;
    color: #707070;
}
.innerCardDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
img.lxpTokenImg {
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
    border: 1px solid var(--darkGray);
}
.footer {
    height: 10dvh;
    margin: 0px;
    padding: 0px;
    display:flex;
    align-items: end;
    justify-content: center;
    grid-area: footer;
    align-self: end;
}

/* error msg starts*/

.errorContainer {
    position: absolute;
    top: 13%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    font-size: 18px;
    /* width:calc(var(--width)/3); */
    width:60px, 90px;
    margin-bottom: 5%;
    padding-inline: 10px;
    border: 1px var(--red) solid;
    border-radius: 10px;
    background-color:var(--darkred);
    color: var(--red);
    transition: 0.25s ease-in all;
    place-self: center;
    backdrop-filter: blur(10px);
  }
  .errorIcon {
    padding-right: 10px;
  }
  .errorIcon path,.errorClose path{
    fill: var(--red);
  }
  .errorClose {
    cursor: pointer;
    padding-left:10px;
    height: auto;
    width: auto;
    transition: 0.2s all ease-in-out;
  }
  .errorClose:hover{
    transform: scale(1.2);
    transform-origin: center;
  }
/* error msg ends */

.loader {
    width: 20px;
    height: 20px;
    border: 2px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.shimmerContainer {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    margin-top: 10%;
    width: 400px;
    height: 250px;
    /* border: 1px solid white; */
}
.shimmer {
    /* border: 1px solid white; */
    height: 50px;
    width: 140px;
    box-sizing: border-box;
    border-radius: 5px;
    background: linear-gradient(-60deg, #171717 40%, #202020 50%, #171717 60%);
    background-size: 300%;
    background-position-x: 100%;
    animation: shimmer 1s infinite linear;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--darkGray);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 15px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--blue);
    height: 200px;
  }

@keyframes rotation {
    to {
        transform: rotate(360deg);
    }
}
@keyframes shimmer {
    to {
       background-position-x: 0%
    }
 }
@media screen and (max-width:400px){
    .main {
        height: auto;
    }
    .logo {
        scale: 0.85;
        padding-left: 0px;
    }
    .addressContainer {
        width: 90%;
        justify-self: start;
    }
    .address {
        font-size: 1em;
    }
    .searchBtn {
        font-size: 0.9em;
        width: 15%;
        text-align: center;
    }
    .navDiv {
        height: 48%;
        width: 90%;
        top: 13%;
        right: 5%;
    }
    .balance span,.history span {
        font-size: 1.5em;
    }
    .footer p {
        font-size: 0.8em;
        text-align: center;
    }
    .lxpHistory {
        padding-top: 20px;
        grid-template-columns: 1fr 1fr;
        overflow-y: scroll;
        max-height: 300px;
    }
    .history {
        height: auto;
    }
    .history span {
        font-size: 1.3em;
        text-align: center;
    }
    .lxpCard {
        padding: 5px 5px;
    }
}